

<form [formGroup]="form" id=formId  (ngSubmit)="onSubmit()">
  <div class="dfl">

    <label for="name">name</label>
    <input id="name" class="dibl task_inputs" formControlName="name" type="text">
    <label for="cost">cost</label>
    <input id="cost" class="dibl task_inputs" formControlName="cost" type="text">
    <label for="start">start</label>
    <input id="start" class="dibl task_inputs" formControlName="start" type="text" #start>
    <label for="end">end</label>
    <input id="end" class="dibl task_inputs" formControlName="end" type="text" #end>
    <label for="wastedTime">wastedTime</label>
    <input id="wastedTime" class="dibl task_inputs" formControlName="wastedTime" type="text">
    <label for="totalMoney">totalMoney</label>
    <input id="totalMoney" class="dibl task_inputs" formControlName="totalMoney" type="text">
    <button class="modal-action btn dibl task_inputs " type="submit">
     Save
    </button>
  </div>
</form>
