<div class="statusBar ">
  <h1 class="projectName">{{nameClients}}</h1>
  <div class="dfl ai">
    <div *ngIf="tarif" class="wrap">{{tarif}} $ / hour</div>
    <div *ngIf="totalHours" class="wrap">Total hours:{{totalHours}}</div>
    <div *ngIf="totalPayment" class="wrap">Total payment: ${{totalPayment}}</div>

    <div class="copylink" (click)="copyLink()"><svg width="40" height="40" viewBox="0 0 40 40" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#00BCD4" />
        <path
          d="M16 18.75C16.4142 18.75 16.75 18.4142 16.75 18C16.75 17.5858 16.4142 17.25 16 17.25V18.75ZM24 17.25C23.5858 17.25 23.25 17.5858 23.25 18C23.25 18.4142 23.5858 18.75 24 18.75V17.25ZM25 18V18.75V18ZM26.25 20V27H27.75V20H26.25ZM25 28.25H15V29.75H25V28.25ZM13.75 27V20H12.25V27H13.75ZM15 18.75H16V17.25H15V18.75ZM24 18.75H25V17.25H24V18.75ZM15 28.25C14.3096 28.25 13.75 27.6904 13.75 27H12.25C12.25 28.5188 13.4812 29.75 15 29.75V28.25ZM26.25 27C26.25 27.6904 25.6904 28.25 25 28.25V29.75C26.5188 29.75 27.75 28.5188 27.75 27H26.25ZM27.75 20C27.75 18.4812 26.5188 17.25 25 17.25V18.75C25.6904 18.75 26.25 19.3096 26.25 20H27.75ZM13.75 20C13.75 19.3096 14.3096 18.75 15 18.75V17.25C13.4812 17.25 12.25 18.4812 12.25 20H13.75Z"
          fill="white" />
        <path
          d="M19.25 22C19.25 22.4142 19.5858 22.75 20 22.75C20.4142 22.75 20.75 22.4142 20.75 22L19.25 22ZM20 11L20.5303 10.4697C20.3897 10.329 20.1989 10.25 20 10.25C19.8011 10.25 19.6103 10.329 19.4697 10.4697L20 11ZM22.4697 14.5304C22.7626 14.8233 23.2374 14.8233 23.5303 14.5304C23.8232 14.2375 23.8232 13.7626 23.5303 13.4697L22.4697 14.5304ZM16.4697 13.4697C16.1768 13.7626 16.1768 14.2375 16.4697 14.5304C16.7626 14.8233 17.2374 14.8233 17.5303 14.5304L16.4697 13.4697ZM20.75 22L20.75 11L19.25 11L19.25 22L20.75 22ZM19.4697 11.5304L22.4697 14.5304L23.5303 13.4697L20.5303 10.4697L19.4697 11.5304ZM19.4697 10.4697L16.4697 13.4697L17.5303 14.5304L20.5303 11.5304L19.4697 10.4697Z"
          fill="white" />
      </svg>
    </div>
  </div>
</div>





<!-- <div *ngIf="allTasks$" class="row allTasks">

  <div class="dfl ai " *ngFor="let task of allTasks$">
    <div class="taskName ">
      // {{task.name}}
      <input type="text" class="form-control" [(ngModel)] ="task.name">
      </div>
    <div class="taskTime pr dfl">
      <div>
        // {{task.start}}
        <input type="text" class="form-control" [(ngModel)] ="task.start">
      </div>
      <span>-</span>
      <div>
        // {{task.end}}
        <input type="text" class="form-control" [(ngModel)] ="task.end">
        </div>
      <div class="formTask" #modal>
        <form id=formId (ngSubmit)="changeTask(refForm)" #refForm="ngForm">
          <div class="inpWrap dfl">
            <div class="wrapDateTask">
              <label class="labelTaksDate" for="start">start</label>
              <input id="start" class="dibl" NgModel name="start" type="text" #start>
            </div>
            <div class="arrowtime dfl ai jc"><svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4H13M13 4L10 1M13 4L10 7" stroke="#212121" stroke-opacity="0.15" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="wrapDateTask">
              <label class="labelTaksDate" for="end">end</label>
              <input id="end" class="dibl" NgModel name="end" type="text" #end>
            </div>
          </div>
          <button class="btn tac btnTaskDate btnTaskDateLeft" (click)="cancel()">cancel</button>
          <button class="btn tac btnTaskDate btnTaskDateRight" type="submit">save</button>
        </form>
      </div>
    </div>
  </div>

</div> -->

<div *ngIf="allTasks$" class="row allTasks dfl fd_col">

  <div class="taskRow" *ngFor="let task of allTasks$">
    <form id=formId (ngSubmit)="changeTask(refForm)" #refForm="ngForm" class="dfl dfl ai">
      <div class="taskName ">
        <input type="text" class="form-control" [(ngModel)]="task.name" name="name">
      </div>
      <div class="taskTime pr dfl">
        <div>
          <input type="text" class="form-control" [(ngModel)]="task.startTime" name="startTime">
        </div>
        <span>-</span>
        <div>
          <input type="text" class="form-control" [(ngModel)]="task.endTime" name="endTime">
        </div>
        <div class="formTask" #modal>
          <div class="inpWrap dfl">
            <div class="wrapDateTask">
              <label class="labelTaksDate" for="start">start</label>
              <input id="start" class="dibl" NgModel name="start" type="text" name="start" #start>
            </div>
            <div class="arrowtime dfl ai jc"><svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4H13M13 4L10 1M13 4L10 7" stroke="#212121" stroke-opacity="0.15" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="wrapDateTask">
              <label class="labelTaksDate" for="end">end</label>
              <input id="end" class="dibl" NgModel name="end" type="text" name="end" #end>
            </div>
          </div>
          <button class="btn tac btnTaskDate btnTaskDateLeft" (click)="cancel()">cancel</button>
          <button class="btn tac btnTaskDate btnTaskDateRight" type="submit">save</button>
        </div>
      </div>

      <div class="taskSummary">{{task.wastedTime| number:'1.0-1'}}</div>
    </form>
  </div>

</div>










<!-- <form [formGroup]="form" id=formId (ngSubmit)="onSubmit()">
  <div class="dfl">

    <label for="name">name</label>
    <input id="name" class="dibl task_inputs" formControlName="name" type="text">
    <label for="cost">cost</label>
    <input id="cost" class="dibl task_inputs" formControlName="cost" type="text">
    <label for="start">start</label>
    <input id="start" class="dibl task_inputs" formControlName="start" type="text" #start>
    <label for="end">end</label>
    <input id="end" class="dibl task_inputs" formControlName="end" type="text" #end>
    <label for="wastedTime">wastedTime</label>
    <input id="wastedTime" class="dibl task_inputs" formControlName="wastedTime" type="text">
    <label for="totalMoney">totalMoney</label>
    <input id="totalMoney" class="dibl task_inputs" formControlName="totalMoney" type="text">
    <button class="modal-action btn dibl task_inputs " type="submit">
      Save
    </button>
  </div>
</!-->
