<div class="page-title">
  <h4>История заказов</h4>
  <button class="btn btn-small" #tooltip data-tooltip="Открыть фильтр" data-position="left"
    (click)="isFilterVisible = !isFilterVisible" [ngClass]="{'active':isFilterVisible,'red':isFilered()}">
    <i class="material-icons">filter_list</i>
  </button>
</div>


<app-history-filter (onFilter)="applyFilter($event)" *ngIf="isFilterVisible"></app-history-filter>

<div *ngIf="!reloading;else reloadingBlock">
  <div *ngIf="orders.length>0; else emty">
    <app-history-list [orders]="orders"></app-history-list>
    <div *ngIf="!noMoreOrders" class="center mb2">
      <button *ngIf="!loading;else loader" (click)="loadMore()"
        class="btn waves-effect grey darken-1 btn-small">Загрузить
        еще</button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <h4 class="center">ЗАказов пока нет</h4>
  </ng-template>
</div>


<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
